@model List<ResultTop3GamesBlogDto>
@functions {
	public string GetRelativeTime(DateTime createdDate)
	{
		var timeSpan = DateTime.Now - createdDate;

		if (timeSpan.TotalMinutes == 0)
		{
			return $"{(int)timeSpan.TotalSeconds} saniye önce";
		}
		if (timeSpan.TotalMinutes < 60)
		{
			return $"{(int)timeSpan.TotalMinutes} dakika önce";
		}
		else if (timeSpan.TotalHours < 24)
		{
			return $"{(int)timeSpan.TotalHours} saat önce";
		}
		else
		{
			return $"{(int)timeSpan.TotalDays} gün önce";
		}
	}
}
<section class="section posts-entry">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Oyun</h2>
			</div>
			<div class="col-sm-6 text-sm-end">
				<a href="/Blog/Index/1" class="read-more">Tümünü Gör</a>
			</div>
		</div>
		<div class="row g-3">
			@foreach (var data in Model)
			{
				var relativeTime = GetRelativeTime(data.CreatedDate);
				<div class="col-md-4">
					<div class="blog-entry">
						<a  href="/Blog/BlogDetail/@data.BlogId?param=@data.CategoryId" class="img-link">
							<img style="width:100%;height:250px" src="@data.CoverImageUrl" alt="@data.Title" class="img-fluid">
						</a>
						<br />
						<h2><a style="text-decoration:none" href="/Blog/BlogDetail/@data.BlogId?param=@data.CategoryId">@data.Title</a></h2>
						<p id="bloggamesdesc-@data.BlogId">@data.Description</p>
						<span class="date" style="float:right">@relativeTime</span>

						<a href="/Blog/BlogDetail/@data.BlogId?param=@data.CategoryId" class="btn btn-sm btn-outline-primary">Devamını Oku</a>


						<script>
							document.querySelectorAll('[id^="bloggamesdesc-"]').forEach(element => {
								const text = element.textContent; // Veya innerText
								const substringText = text.substring(0, 150); // İlk 100 karakteri al
								console.log("Text:", text);
								console.log("Substring Text:", substringText);
								element.textContent = substringText + "...";
							});
						</script>
					</div>
				</div>
			}


		</div>
	</div>
</section>
